.navbar {
    min-height: 6vh;
    background: rgb(36, 39, 41);
    color: white;
}

.nav-logo {
    font-family: monoton;
    color: white;
    font-size: 30px;
    text-shadow: 8px 2px 8px #2386c8;
  }
  @font-face {
    font-family: monoton;
    src: url('./fonts/Monoton-Regular.ttf');
  }